<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport"
			content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
		<title>申请报名</title>
		<link rel="stylesheet" type="text/css" href="../css/moudle.css" />
		<link rel="stylesheet" type="text/css" href="../css/vant.min.css" />
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/layer/ajax.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery-2.1.4.min.js"></script>
		<script src="../js/vant_min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/util.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/layer/layer.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/axios.min.js.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/vConsole/3.9.1/vconsole.min.js"></script>
		<style>
			html,
			body {
				width: 100%;
				height: 100%;
			}

			* {
				margin: 0;
				padding: 0;
				list-style: none;
				text-decoration: none;
				box-sizing: border-box;
			}

			#app {
				height: 100%;
				padding: 15px;
			}

			.van-calendar {
				height: 98%;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<van-field v-model="name" label="姓名" placeholder="请输入姓名"></van-field>
			<van-field v-model="idCard" label="身份证号" placeholder="请输入身份证号"></van-field>
			<van-cell-group>
				<van-cell title="申请材料">
					<van-uploader v-model="fileList" :file-list="fileList" accept=".txt,.pdf.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" :after-read="afterRead" max-count="1"></van-uploader>
				</van-cell>
			</van-cell-group>
			<div style="margin: 16px;">
				<van-button round block type="info" @click="onSubmit()" color="#00ae7e">提交</van-button>
			</div>

		</div>
	</body>
	<script>
		let app = new Vue({
			el: '#app',
			data: {
				idCard: '', // 身份证号
				name: '', //姓名
				cid:"",
				userId:'',
				token : "",
				fileList: [],
			},
			methods: {
				//提交表单
				onSubmit() {
					let fromData = {
						material:this.fileList[0] !== undefined ? this.fileList[0].file:undefined,
						idcard: this.idCard,
						name: this.name,
						userId:this.userId,
					};
					postJson(
						`https://www.yjhlcity.com/InfoIssue/app/MSB/applyonline/saveapplyonline?gen_city_active_id=${this.cid}`,
						fromData, this.token,
						function success(code, data) {
							if (code == 200) {
								console.log(data)
								layer.msg("提交成功")
								setTimeout(()=>{
									window.history.back()
								},800)
							} else {
								layer.msg("提交失败，请重试")
							}
							console.log("提交成功返回数据" + code)
							console.log(data)

						},
						function error(obj) {
							layer.msg(obj.responseJSON.msg)
						})


				},

				afterRead(file) {
					layer.load(1);
					let self = this
					var formData = new FormData()
					formData.append("file", file.file)
					const config = {
						headers: {
							"Content-Type": "multipart/form-data",
							"token": self.token
						}
					};

					axios
							.post("https://www.yjhlcity.com/InfoIssue/app/file/uploadfile",
									formData, config)
							.then(function(response) {
								if(response.status === 200){
									self.fileList[self.fileList.length - 1].file = response.data.data

								}else {
									layer.msg("文件上传失败")
								}
								layer.closeAll('loading');
							})
							.catch(function(error) {
								layer.closeAll('loading');
								layer.msg(error.response.data.msg)

							});
				},

			},
			created() {
				//var vConsole = new VConsole();
				this.token = getUrlParam("token")
				this.userId = getUrlParam("id")
				this.name = getUrlParam("name")
				this.idCard = getUrlParam("idCard")
				this.cid = getUrlParam("cid")
			}
		})
	</script>
</html>
