<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
			content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<title>详情</title>
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../css/moudle.css">

		<script src="../js/rem.js"></script>
	</head>
	<body>
		<div id="app" style="width: 100%; height: 95%;overflow:auto;background-color: #eaeaea;">
			<div style="background-color: #ffffff;margin-bottom: .2rem;">
				<div class="inf" v-if="dataList.applyType !== '3'">
					<p class="left">学校名称</p>
					<p class="right">{{dataList.schoolName}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType !== '3'">
					<p class="left">入学年月</p>
					<p class="right">{{dataList.entranceYearSeason}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType !== '3'">
					<p class="left">入学季节</p>
					<p class="right">{{dataList.entranceSeason}}</p>
				</div>
				<div class="inf">
					<p class="left">学生姓名</p>
					<p class="right">{{dataList.studentName}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType === '3'">
					<p class="left">考生号</p>
					<p class="right">{{dataList.examineeNumber}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType === '3'">
					<p class="left">毕业院校</p>
					<p class="right">{{dataList.graduationSchool}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType === '3'">
					<p class="left">录取院校</p>
					<p class="right">{{dataList.admissionSchoolName}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType === '3'">
					<p class="left">录取层次</p>
					<p class="right">{{dataList.admissionLevel}}</p>
				</div>
				<div class="inf">
					<p class="left">性别</p>
					<p class="right">{{dataList.studentSex}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType === '3'">
					<p class="left">学制</p>
					<p class="right">{{dataList.educational}}</p>
				</div>
				<div class="inf">
					<p class="left">身份证号</p>
					<p class="right">{{dataList.studentIdCard}}</p>
				</div>
				<div class="inf">
					<p class="left">民族</p>
					<p class="right">{{dataList.studentNational}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType === '1'">
					<p class="left">学籍号</p>
					<p class="right">{{dataList.enrollmentNumber}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType !== '3'">
					<p class="left">年级</p>
					<p class="right">{{dataList.studentGrade}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType !== '3'">
					<p class="left">班级</p>
					<p class="right">{{dataList.studentClass}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType !== '3'">
					<p class="left">国家级建档立卡贫困户</p>
					<p class="right">{{dataList.countriesInputting}}</p>
				</div>
				<div class="inf">
					<p class="left">户籍所在地</p>
					<p class="right">{{dataList.registeredPlace}}</p>
				</div>
				<div class="inf">
					<p class="left">本人联系方式</p>
					<p class="right">{{dataList.personContact}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType === '3'">
					<p class="left">困难类型</p>
					<p class="right">{{dataList.difficultType}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType === '3'">
					<p class="left">低保/建档立卡/孤儿序号</p>
					<p class="right">{{dataList.establishArchiveNumber}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType === '3'">
					<p class="left">低保/建档立卡/孤儿凭证审核时间</p>
					<p class="right">{{dataList.establishArchiveDate}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType === '3'">
					<p class="left">与申请人关系</p>
					<p class="right">{{dataList.applyPersonRelation}}</p>
				</div>
				<div class="inf">
					<p class="left">监护人姓名</p>
					<p class="right">{{dataList.guardianName}}</p>
				</div>
				<div class="inf">
					<p class="left">监护人身份证号</p>
					<p class="right">{{dataList.guardianIdCard}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType === '3'">
					<p class="left">监护人户籍所在地</p>
					<p class="right">{{dataList.guardianAddress}}</p>
				</div>
				<div class="inf">
					<p class="left">监护人联系方式</p>
					<p class="right">{{dataList.guardianContact}}</p>
				</div>
				<div class="inf">
					<p class="left">户籍性质</p>
					<p class="right">{{dataList.registrationNature}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType === '1'">
					<p class="left">是否住校</p>
					<p class="right">{{dataList.whetherResidence}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType !== '3'">
					<p class="left">主要收入来源</p>
					<p class="right">{{dataList.incomeSource}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType === '2'">
					<p class="left">家庭年均收入（人）</p>
					<p class="right">{{dataList.familyIncomeCapita}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType !== '3'">
					<p class="left">是否低保户</p>
					<p class="right">{{dataList.whetherLow}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType !== '3'">
					<p class="left">家庭现住址</p>
					<p class="right">{{dataList.nowFamilyAddress}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType === '2'">
					<p class="left">申请书</p>
					<p class="right">{{dataList.applyBook}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType === '2'">
					<p class="left">申请理由</p>
					<p class="right">{{dataList.applyReason}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType === '1'">
					<p class="left">资助卡号</p>
					<p class="right">{{dataList.fundCardNumber}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType === '1'">
					<p class="left">申请金额（元）</p>
					<p class="right">{{dataList.fundAmonunt}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType === '1'">
					<p class="left">识别时间</p>
					<p class="right">{{dataList.identifyTime}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType === '1'">
					<p class="left">帮扶责任人</p>
					<p class="right">{{dataList.supportResponsible}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType === '1'">
					<p class="left">帮扶人工作单位</p>
					<p class="right">{{dataList.responsibleUnit}}</p>
				</div>
				<div class="inf" v-if="dataList.applyType === '1'">
					<p class="left">帮扶人联系方式</p>
					<p class="right">{{dataList.responsibleContact}}</p>
				</div>

				<div class="inf">
					<p class="left">学生照片</p>
					<p class="right"><img style="width: 2rem" :src="'https://www.yjhlcity.com/InfoIssue/route/file/downloadfile/true/'+dataList.studentPhoto" alt=""></p>
				</div>


			</div>
		</div>
		<script src="../js/jquery-2.1.4.min.js"></script>
		<script src="../js/vue.js"></script>
		<script src="../js/layer/layer.js"></script>
		<script src="../js/layer/ajax.js"></script>
		<script src="../js/util.js"></script>
		<script>
			var nv = new Vue({
				el: '#app',
				data: {
					name: '',
					dataList:[]
				},
				created: function(e) {
					//URL_Request("id");
					let that = this
					doGetFormToken(
							`https://www.yjhlcity.com/InfoIssue/app/studentsubsidize/getstudentsubsidize/${getUrlParam("id")}`,null,
							getUrlParam("token"),
							function(code, data) {
								console.log(data)
								that.dataList = data

							},
							function() {

							});
				},


				
			});
		</script>
